@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}

:root {
  background-color: #242424;
  color: rgba(255 255 255 / 87%);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  filter: saturate(1.15) hue-rotate(345deg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: grid;
  height: 100dvh;
}

.canvas {
  max-width: 100%;
  animation: fade-in 1s ease 0.3s forwards;
  cursor: grab;
  touch-action: none;
}

.canvas:active {
  cursor: grabbing;
}
